<span class="footer__header"><h2>Contact</h2></span>
<ul class="list list--links list--chevrons footer__nav">
    <li><a href="#" data-toggle="modal" data-target="#contactModal" onclick="openModalContact()">Contactformulier</a></li>
</ul>

{{ include(template_from_string(commonground_resource({'component':'wrc','type':'templates','id':'374fe3d4-f30b-4c1e-86ff-e79902a6a9c4'}).content|raw)) }}



