<div class="row">
    <div>
        <h1>Gemeente Zuid-Drecht adopteert VrijBRP</h1>
        <p>
            Bij de dienstverlening aan inwoners van een gemeente speelt de afdeling Burgerzaken een belangrijke rol.
            Denk aan de aangifte van geboorte of het verkrijgen van een wettelijk document.
            Digitalisering biedt kansen om deze diensten toegankelijker en eenvoudiger te maken en het contact met inwoners te versterken.
            VrijBRP maakt veilig beheer en een goed afgeschermde gegevensuitwisseling mogelijk én biedt gemeenten alle ruimte om zelf grip te houden.
            De ambitie van Procura is helder: samen met een community van gemeenten en marktpartijen verder bouwen aan innovaties voor burgers en ondernemers.
            Zuid-Drecht zet samen met Procura de stap!
        </p>
    </div>
</div>
