
<div class="row">
    <div>
        <p>
            Samen hebben Conduction en Zaaksysteem.nl een werkende integratie gemaakt waarmee formulieren
            op basis van de Common Ground principes in het zaaksysteem afgehandeld kunnen worden.
            Benieuwd hoe dit eruit ziet? Kom naar Zaaksystemen in beeld 2021 en ervaar het helemaal zelf van A tot Z.
        </p>
    </div>
</div>

