{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Wat is Waardepapieren?</h1>
                <p>Lorem ipsum dolor sit amet, cum timeam veritus no, sea id putant possim gubergren. Vim te possit nemore conceptam, illum nullam est ut. In vim paulo doctus reprehendunt, est dicant commune te. Nemore eloquentiam eu pri, evertitur moderatius vim id. Ex mel postea apeirian cotidieque, at esse prima sit. Et iisque ponderum accusata mei, elitr munere invenire his ei.</p>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 background--primary">
                <h1>Hoe werkt Waardepapieren?</h1>
                <p>Lorem ipsum dolor sit amet, cum timeam veritus no, sea id putant possim gubergren. Vim te possit nemore conceptam, illum nullam est ut. In vim paulo doctus reprehendunt, est dicant commune te. Nemore eloquentiam eu pri, evertitur moderatius vim id. Ex mel postea apeirian cotidieque, at esse prima sit. Et iisque ponderum accusata mei, elitr munere invenire his ei.</p>
            </div>
        </section>
    </div>
{% endblock %}














