<span class="footer__header">Voor inwoners</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a href="{{ path('app_ptc_process_stage',{"id":"5b10c1d6-7121-4be2-b479-7523f1b625f1","stage":"start"}) }}">Trouwen</a></li>
</ul>

<span class="footer__header">Voor ondernemers</span>
<ul class="list list--links list--chevrons footer__nav" >
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/winkeliers">winkeliers</a></li>
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/bouw-en-techniek">Bouw en techniek</a></li>
    <li><a href="https://www.rijksoverheid.nl/onderwerpen/coronavirus-covid-19/ondernemers-en-bedrijven/horeca">Horeca</a></li>
</ul>

